# Dev tools
.direnv/**
.vscode/**
.vscode-test/**
.gitignore
.editorconfig
.envrc
.yarnrc
scripts/**
shell.nix
demo.gif
**/tsconfig.json
**/.eslintrc.json

# Source files
src/**
test/**
out/test/**
**/*.map
**/*.ts
node_modules/
